.event-item {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .event-item.in-view {
    opacity: 1;
    transform: scale(1);
  }
  